{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>地区</title>
    <script src="{% static 'areainfo/jquery.min.js' %}"></script>
    <script src="{% static 'areainfo/ajax.js' %}"></script>
</head>
<body>
<div>
    <select name="pro" id="pro">
        <option value="0">请选择省</option>
    </select>
    <select name="city" id="city">
        <option value="0">请选择市</option>
    </select>
    <select name="dis" id="dis">
        <option value="0">请选择区</option>
    </select>
</div>
</body>
</html>
