<!DOCTYPE html>
<html>
<head>
    <title>检索结果</title>
</head>
<body>
{% if query %}
<h3>搜索结果如下：</h3>
{% for result in page.object_list %}
<!--注意根据index调整结果显示内容，不然搜索到结果也是一片空白-->
<a href="/{{ result.object.id }}/">{{ result.object.body }}</a><br/>
{% empty %}
<p>啥也没找到</p>
{% endfor %}

{% if page.has_previous or page.has_next %}
<div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
</div>
{% endif %}
{% endif %}
</body>
</html>
