{% extends 'base.html' %}
{% block head %}
<script>
	$(function () {
		$('title').text('天天生鲜-搜索');
	});
</script>
{% endblock head %}
{% block df_goods_content %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="javascript:;">搜索结果</a>
	</div>

	<div class="main_wrap clearfix">
            <!--     搜索结果如下       -->
			{% if query %}
			<ul class="goods_type_list clearfix">
				{% for g in page_obj.object_list %}
				<li>
					<a href="/{{ g.object.id }}/"><img src="/static/{{ g.object.gpic }}"></a>
					<h4><a href="/{{ g.object.id }}/">{{ g.object.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ g.object.gprice }}</span>
						<span class="unit">{{ g.object.gprice }}/{{ g.object.gunit }}</span>
						<a href="{% url 'df_cart:add' g.object.id 1 %}" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{% endfor %}

			</ul>

			<div class="pagenation">
                {% if page_obj.has_previous %}
				<a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}"><上一页</a>
                {% endif %}

				{% for pindex in page_obj.paginator.page_range %}
				{% if page_obj.number == pindex %}
				<a href="javascript:;" class="active">{{ pindex }}</a>
				{% else %}
				<a href="?q={{ query }}&amp;page={{ pindex }}">{{ pindex }}</a>
				{% endif %}
				{% endfor %}

                {% if page_obj.has_next %}
				<a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">下一页></a>
                {% endif %}
			</div>
			{% endif %}
			<!-- 搜索结果 -->
		</div>
	</div>
{% endblock df_goods_content%}

