{% extends 'base.html' %}

{% block head %}
<script>
	$(function () {

		var $add = $('.add');
			$mimus = $('.minus');
			$totalNum = $('.total em:first')
			$numShow = $('.num_show:first');
			goodPrice = parseFloat($('.show_pirze em:first').text())

		$add.click(function () {
			$numShow.val(function (index, value) {
				var num =  1 + parseInt(value);
				inputValue(num);
				return num;
			});
		});

		$mimus.click(function (index, value) {
			$numShow.val(function (index, value) {
				var num = parseInt(value)
				if (num > 1) {
					num--;
				} else {
					num = 1;
				}
				inputValue(num);
				return num;
			});
		});

		$numShow.blur(function () {
			var num = parseInt($(this).val());
			if (num > 0) {
				inputValue(num);
			} else {
				inputValue(1);
				$numShow.val(1)
			}
		});

		// ajax方法调整到footer的动画方法里一起执行
		// $('#add_cart').click(function () {
		// 	// ajax获得购买商品件数
		// 	var count = $numShow.val();
		// 	var url = '/cart/add-{{ good.id }}-'+count;
		// 	$.get(url, function (data) {
		// 		// 更新购物车件数
		// 		$('#show_count').text(data.count);
		// 	});

		// })

		function inputValue(num){
			$totalNum.text(function () {
				var sum = num * (goodPrice*100) / 100
				return sum.toFixed(2) + '元'
			});
		}

	});
</script>
{% endblock head %}

{% block df_goods_content %}
	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href="/list{{ type.id }}-1-1/">{{ type.ttitle }}</a>
		<span>></span>
		<a href="/{{ good.id }}/">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ good.gpic }}" style="width:100%"></div>

		<div class="goods_detail_list fr">
			<h3>{{ good.gtitle }}</h3>
			<p>{{ good.gjianjie }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ good.gprice }}</em></span>
				<span class="show_unit">单  位：{{ good.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="{{ initnum }}" autocomplete="off">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ good.gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for item in news %}
					<li>
						<a href="/{{ item.id }}/"><img src="/static/{{ item.gpic }}"></a>
						<h4><a href="/{{ item.id }}/">{{ item.gtitle }}</a></h4>
						<div class="prize">￥{{ item.gprice }}</div>
					</li>
					{% endfor %}
					{% comment %}
					<li>
						<a href="#"><img src="/static/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
					{% endcomment %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ good.gcontent|safe }}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock df_goods_content%}
{% block footer_part1 %}
	<div class="add_jump"></div>
{% endblock footer_part1 %}
{% block footer_script %}

	<script type="text/javascript" src="/static/js/jquery-1.12.2.js"></script>
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;
		// 获取加入购物车按钮的位置，并通过层级藏在下面，然后点击事件触发动画
		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			// 判断用户是否已经登录,如果登录按钮存在，则提醒用户登录,并跳转到登录页面
			if ($('.login_btn').length) {
				alert('请登录后在购买');
				// 当前页面跳转
				location.href = "{% url 'user:login' %}";
				return;
			}

			//动画
			$(".add_jump").stop().animate(
				{'left': $to_y+7, 'top': $to_x+7},
				"fast", 
				function() {
					$(".add_jump").fadeOut('fast');
				}
			);

			// 异步 ajax获得购买商品件数
			var num = $numShow.val();
			var url = '/cart/add-{{ good.id }}-'+num;
			$.get(url, function (data) {
				// 更新购物车件数
				$('#show_count').html(data.count);
			})
		})
	</script>
{% endblock footer_script %}
